@import "./colors.css";

@keyframes blink-critical {
	50% {
		color: orange;
	}

	to {
		color: orange;
	}
}

@keyframes nm-blink-critical {
	20% {
		color: @iris;
	}

	to {
		color: @gold;
	}
}

@keyframes ws-urgent-blink {
	20% {
		background: @muted;
		opacity: inherit;
	}

	to {
		background: @gold;
		opacity: 1;
	}
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	all: unset;
	font-family: Adwaita Mono Nerd Font;
	font-size: 20px;
}

/* The whole bar */
#waybar {
	border-radius: 999px;
	background: @surface;
	border: 1px solid @overlay;
	border-style: solid solid solid solid;
	color: white;
}
tooltip {
	background: rgba(0, 0, 6, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 9px;
	box-shadow: none;
}
tooltip label {
	color: white;
	font-size: 14px;
	padding: 3px 5px;
	transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
	font-family: Adwaita Sans;
	text-shadow: none;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

/* Battery */

#battery {
    background: @overlay;
	color: @iris;
    border-radius: 4px 4px 21px 21px;
    padding: 5px 5px 6px 5px;
    margin: 0px 4px 4px 4px;
}

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning {
	color: @gold;
}

#battery.warning.charging {
	color: @iris;
}

#battery.critical {
	color: @love;
}

#battery.critical.charging {
	color: @iris;
}

#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: .2s;
	animation-direction: alternate;
	animation-timing-function: steps(10);
}

/* NetworkManger */

#network {
    background: @overlay;
	color: @iris;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 10px 4px 5px; /* TOP RIGHT BOTTOM LEFT */
    margin: 0px 4px 0px 4px;
}

#network.disconnected {
	animation-name: nm-blink-critical;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-timing-function: steps(10);
}

/* Bluetooth */

#bluetooth {
    background: @overlay;
	color: @iris;
    border-radius: 21px 21px 4px 4px;
    padding: 7px 5px 5px 5px; /* TOP RIGHT BOTTOM LEFT */
    margin: 0px 4px 0px 4px;
}

#bluetooth.disabled {
	color: #888888;
}

#bluetooth.on {
	color: @iris;
}

#bluetooth.off {
	color: @muted;
}

#bluetooth.connected {
	color: @iris;
	padding: 7px 7px 5px 5px; /* Weird shifting to the right fix */
}

/* PulseAudio */

#pulseaudio.output {
    background: @overlay;
	color: @rose;
    border-radius: 4px 4px 21px 21px;
    padding: 5px 6px 6px 5px;
    margin: 0px 4px 4px 4px;
}

#pulseaudio.input {
    background: @overlay;
	color: @rose;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 5px 4px 5px;
    margin: 0px 4px 0px 4px;
}

/* custom/backlight */

#custom-backlight {
    background: @overlay;
	color: @rose;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 10px 5px 5px;
    margin: 0px 4px 0px 4px;
}

/* Idle Inhibitor */

#idle_inhibitor {
    background: @overlay;
	color: @rose;
    border-radius: 21px 21px 4px 4px;
    padding: 9px 8px 5px 5px; /* TOP RIGHT BOTTOM LEFT */
    margin: 0px 4px 0px 4px;
}

/* custom/menumain */

#custom-menumain {
    background: transparent;
	color: @text;
    border-radius: 40px;
    padding: 0px 0px 0px 0px;
    margin: 0px 8px 4px 8px;
}

/* Tray */

#tray {
	margin-top: 8px;
}

#tray menu {
	background: @base;
	border-radius: 7px;
	padding: 3px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	border: 1px solid @highlightMed;
}

#tray menuitem {
	background: @surface;
	border-radius: 3px;
	margin: 1px;
	padding: 4px;
}

#tray menuitem label {
	font-size: 15px;
	padding: 0px 3px 0px 3px;
	font-family: Adwaita Sans;
}

#tray menuitem:hover {
    background: @highlightLow;
}

/* Workspaces */

#workspaces {
	background: @overlay;
	margin: 0px 10px 0px 10px;
	border-radius: 21px;
	padding: 0px;
	transition: all 0.1s;
}

#workspaces button {
	padding: 0px;
	background: @muted;
	border-radius: 21px;
	margin: 5px;
	min-width: 0px;
	font-size: 0px;
	opacity: 0.7;
	transition: all 0.1s;
}

#workspaces button.active {
	background: @iris;
	opacity: 1;
}

#workspaces button.urgent {
	animation-name: ws-urgent-blink;
	animation-iteration-count: infinite;
	animation-duration: 0.4s;
	animation-direction: alternate;
	animation-timing-function: steps(10);
}

/* Clock */

#clock {
	background: @overlay;
	color: @iris;
	font-size: 16px;
    border-radius: 21px 21px 4px 4px;
    padding: 8px 5px 5px 5px;
    margin: 4px 4px 0px 4px;
}

/* Notifs */

#custom-notification {
	background: @overlay;
	color: @iris;
    border-radius: 4px 4px 21px 21px;
    padding: 5px 6px 7px 5px;
    margin: 0px 4px 4px 4px;
}

/* Privacy */

#custom-privacy-dots {
	font-size: 10px;
	background: transparent;
	margin: 6px;
	padding: 0px 2px 0px 0px
}

/* ppd */

#power-profiles-daemon {
	background: @overlay;
	color: @rose;
    border-radius: 21px 21px 21px 21px;
    padding: 3px 8px 6px 5px;
    margin: 0px 4px 4px 4px;
}