@import "./colors.css";

* {
	all: unset;
}

/* === BASE WINDOWS === */

notificationwindow,
.blank-window {
  background: transparent;
}

/* === CONTROL CENTER === */

.control-center {
  background: alpha(@base, 1);
  color: @text;
  border-radius: 16px;
  border: 1px solid @iris;
}

/* === NOTIFICATION CARD === */

.notification {
  background: @surface;
  border-radius: 16px;
  border: 1px solid @iris;
  box-shadow:
    0 0 0 1px alpha(#000, 0.3),
    0 2px 6px alpha(#000, 0.5);
}

/* Hover + focus */

.notification:hover {
  background: @overlay;
}

.notification-row:focus .notification {
  background: alpha(@highlightMed, 0.6);
}

.notification-row .notification-background .close-button {
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    background: transparent;
    color: transparent;
    border: none;
    box-shadow: none;
}

/* === TEXT === */

.summary {
  color: @text;
  font-weight: bold;
}

.body {
  color: @text;
}

.time {
  color: @muted;
}

/* === ICONS === */

.image {
  -gtk-icon-size: 64px;
}

.app-icon {
  -gtk-icon-size: 21px;
}

.notification-group-icon {
  -gtk-icon-size: 32px;
}

/* === CLOSE BUTTON === */

.close-button {}

/* === ACTION BUTTONS === */

.notification-action > button {
  background: @highlightLow;
  color: @text;
  border-radius: 16px;
}

.notification-action > button:hover {
  background: @overlay;
}

/* === INLINE REPLY === */

.inline-reply-entry {
  background: @highlightLow;
  color: @text;
  border-radius: 16px;
  border: 1px solid @iris;
}

.inline-reply-button {
  background: alpha(@surface, 0.95);
  color: @text;
  border-radius: 16px;
  border: 1px solid @iris;
}

.inline-reply-button:hover {
  background: @overlay;
}